.container
  .el-input__inner
    border-radius 4px
    height 32px
    line-height 32px
    padding 0 11px
  .el-select
    .el-input__inner
      height 32px !important
  .el-button:not(.el-button--text)
    border-radius 4px
    font-size 13px
    padding 0 15px
    line-height 1.5
    height 32px
  .el-input__icon
    line-height 32px
  
  .el-form-item__label
    line-height 32px
  .el-form-item__content
    line-height 32px
  .el-form-item
    margin-bottom 24px
    
  .el-form >.el-form-item:last-child
    margin-bottom 0

  .el-table
    font-size 13px
    .cell
      line-height 1.5
    th
      background-color #fafafa
      >.cell
        color #444
    td
      padding 10px 0
    // 改为受控组件 默认使用disabled
    .el-switch.is-disabled
      opacity 1
      .el-switch__core, .el-switch__label
        cursor pointer
        
  .el-switch__label
    color #cccfd6

  .el-pagination
    padding 0
    margin 16px 0
    text-align right
    &.is-background
      .btn-next
        margin-right 0
      .btn-next, .btn-prev, .el-pager li
        background-color #f5f6f8
  
  .el-dialog__body
    padding 25px 20px

  .el-step__title
    font-size 14px
    line-height 28px
    &.is-process
      font-weight 600

  .el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner
    width 385px
  .el-date-editor .el-range-input
    width 41%
  
  .big-form
    .el-input__inner
      border-radius 4px
      height 36px
      line-height 36px
      padding 0 13px
    .el-select
      .el-input__inner
        height 36px !important
    .el-button:not(.el-button--text)
      border-radius 4px
      font-size 13px
      padding 0 17px
      line-height 1.5
      height 36px
    .el-input__icon
      line-height 36px
    .el-form-item__label
      line-height 36px
    .el-form-item__content
      line-height 36px

// 指定.long-modal 内容很多的modal 缩小margin-top
.long-modal
  .el-dialog
    margin-top 5vh !important
  .min-date-picker.el-range-editor.el-input__inner
    width 100%
    .el-input__icon
      display none
    .el-range-separator
      line-height 26px
    .el-range-input
      width 45%
    .el-range-separator
      width 10%

.el-message-box
  padding-bottom 12px

.el-loading-mask
  line-height 1
  
.el-popover.el-popper
  padding 8px
  .table-img-vess
    border solid 1px BORDERCOLOR
    img
      display block
      min-width 50px
      min-height 50px
      max-width 300px
      max-height 182px

  



/* important */
@media screen and (max-width: 1367px)
  .container
    .el-table
      td
        padding 7px 0
        .cell
          line-height 1.4
    .el-form-item
      margin-bottom 22px